body {
    margin: 0;
    font-family: 'Gochi Hand', cursive;
    background-image: url("descargar.gif");
    background-size: cover;
    background: no-repeat;
    background-position: center;
    color: rgb(255, 199, 199);
    padding: 20px;
}
.flecha img {
    width: 60px;
    transition: transform 0.2s ease;
    display: block;
}
.flecha {
    width: 60px;
    transition: transform 0.2s ease;
    padding-left: 250px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.titulofolder2 {
     text-align: center;
     font-size: clamp(18px, 5vw, 28px);
     font-family: "Press Start 2P", cursive;
     font-weight: 650;
     margin: 0 0 50px 0;  
     position: relative;
     margin-bottom: 40px;
     top: 40px; /* solo espacio abajo */
     color: rgb(255, 255, 255);
}
.contenido {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
    max-width: 1500px;
    width: 1000px;
    position: relative;
    flex-wrap: wrap;
}

.izquierda {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.disco img {
    width: 250px;
    animation: girar 15s linear infinite;
    position: relative;
    right: 10px;
    top: 20px;
}

@keyframes girar {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


.spotify {
    width: 300px;
    position: relative;
    right: 50px;
}

.cuadroTexto1 {
    width: 100%;
    max-width: 350px;
    min-height: 350px;
    padding: 20px;
    border-radius: 20px;
    line-height: 1.6;
    font-size: clamp(16px, 2.5vw, 25px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    box-sizing: border-box;
}
.izquierda {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-width: 420px;

}
.contenedorGrande {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
}
.imagengatoconejo {
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    margin-bottom: 10px;
    opacity: 0.85;
    height: auto;  
    object-fit: contain; 
    position: relative;
}
.flecha img {
    width: 60px;
    transition: transform 0.2s ease;
}

.flecha img:hover {
    transform: scale(1.15);
}
@media (max-width: 480px) {
    .contenido {
        flex-direction: column;
        gap: 20px;
    }
    .cuadroTexto1 {
        min-height: auto;
    }
    .spotify iframe {
        height: 100px;
    }
}
